@media (max-width: 1200px) {
    .carousel {
        .container {
            max-width: 840px;
        }
        /* .prev {
            left: -25px;
        }
        .next {
            right: -25px;
        } */
    }
}
@media (max-width: 991px) {
    .carousel {
        .tns-item {
            img {
                width: 100%
            }
        }
        .container {
            max-width: 840px;
        }
        .prev, .next {
            display: none;
        }
    }
    .catalog {
        
        &__content {
            justify-content: space-around;
        }
    }
}
@media (max-width: 768px) {
    .header {
        &__logo{
          width: 180px;
          img {
              width: 100%;
            }  
        }
    }
    .advantages {
        &__item {
            width: 340px;
            margin-top: 20px;
        }
        &__items {
            margin: 0;
            flex-direction: column;
            align-items: center;
        }
    }
    .consultation {
        .title_left {
            font-size: 26px;  
        }
    }
    .catalog {
        &__tab {
            width: 160px
        }
    }
    .review {
        &__wraper {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        &__text {
            margin-left: 0px;
            margin-top: 15px;
        }
        &__title {
            text-align: center;
        }
        &__subtitle {
            text-align: center;
        }
        &__descr {
            text-align: center;
        }
    }
    .footer {
        &__info {
            width: 380px;
            padding: 40px 50px 50px 50px;
        }
        &__addr {
            margin-bottom: 25px;
        }
        &__phone {
            margin-bottom: 25px;
        }
    }
    
}
@media (max-width: 576px) {
    .header {
        &__logo{
          width: 150px;
          img {
              width: 100%;
            }  
        }
        &__official {
            display: none;
            }
        .xs-hidden {
            display: none;
            }
        .xs-visible {
            display: block;
            }
        
        }
    .promo {
        background-position-x: -600px;
        &__header {
            font-size: 26px;
        }
        &__subheader {
            font-size: 15px;
        }
        &__icons {
            width: 320px;
        }
    }
    .consultation {
        .title_left {
            font-size: 19px;  
        }
        &__descr {
            font-size: 20px;
        }
    }
    .catalog {
        &_tabs {
            flex-direction: column;
            flex-wrap: wrap;
            align-content: center;
        }
        &__tab {
            font-size: 14px;
            min-width: 120px;
            font-size: 14px;
            margin: 0 5px
            
        }
    }
    .footer {
        &__info {
            width: 100%;
            padding: 40px 30px 40px 30px;
        }
    }
}
@media (max-width: 425px) {
    .consultation {
        .title_left {
            font-size: 14px;  
        }
        &__descr {
            font-size: 20px;
            line-height: 20px;
        }
    }
    .catalog {
        &__tabs {
            display: flex;
            flex-direction: column;
            
            align-items: center;
        }
        &__tab {
            font-size: 14px;
            width: 130px;
            margin-top: 10px
        }
    }
}
@media (max-width: 320px) {
    .header {
        &__logo{
          width: 180px;
          img {
              width: 100%;
            }  
        }
        &__official {
            display: none;
            }
        .xs-hidden {
            display: none;
            }
        .xs-visible {
            width: 160px;
            display: block;
            }
    }
    .promo {
        background-position-x: -600px;
        &__header {
            font-size: 22px;
        }
        &__subheader {
            font-size: 14px;
        }
        &__icons {
            width: 100%;
        }
        .button_main {
            width: 250px;
        }
    }
    .advantages {
        &__item {
            width: 100%;
            
            
        }
    }
    .consultation {
        .title_left {
            text-align: center;
            font-size: 14px;  
        }
        &__descr {
            margin-top: 30px;
            font-size: 20px;
        }
        .button {
            width: 230px;
        }
    }
}